<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="C:\temp\fallback-log.txt"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.AzureBlobStorage" />
	</extensions>

	<targets async="true">
		<target
		  xsi:type="AzureBlobStorage"
		  name="godwinstorage"
		  layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
		  connectionString="DefaultEndpointsProtocol=https;AccountName=godwinstorage;AccountKey=qlXyhU7ByKh2Blqzu8lLlCn2y+4KiMmcsptsRzQrwu+JXEFBCRgPTfofUuZ6aPnn2A4jeRYVK5mu+AStoXkh/A==;EndpointSuffix=core.windows.net"
		  container="logsagb"
		  blobName="${date:universalTime=true:format=yy-MM-dd}.log" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="godwinstorage" />
	</rules>

</nlog>