<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="info"
	  internalLogFile="C:\temp\fallback-log.txt"
	  throwConfigExceptions="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.AzureBlobStorage" />
	</extensions>

	<targets async="true">
		<!--target1-->
		<target
		  xsi:type="AzureBlobStorage"
		  name="empstorageagb"
		  layout="${longdate:universalTime=true} ${level:uppercase=true} - ${logger}: ${message} ${exception:format=tostring}"
		  connectionString="DefaultEndpointsProtocol=https;AccountName=empstorageagb;AccountKey=K9iiZIsUvPDqGgWafg/YkhkzSNq4kHZ/vCTUXBpTy86kK2kGKhdI29YYBFrQL4AK8DOn6/9uu4QH+ASt4kErAA==;EndpointSuffix=core.windows.net"
		  container="logsemp"
		  blobName="${date:universalTime=true:format=yy-MM-dd}.log" />
		<!--target2-->
		<target  name="allfile" xsi:type="File" fileName="C:\Logs\empNlog-all-${shortdate}.log"/>
	</targets>


	<rules>
		<logger name="*" minlevel="Trace" writeTo="empstorageagb" />
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>

</nlog>